.future{
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-bottom: -80px;

}

.futured-vertical{
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #000000 3%, #00000000 95%);
  
}
.future-horizontal{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #000000 30%, #00000000 70%);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: flex-start;

  section{
    width: 30%;
    display: flex;
    justify-content: space-between;

    article:first-child {
      color: rgb(0, 255, 64);
      font-size: 18px;
      font-weight: 700;
    }
    
  }
  
  strong{
    width: 30%;
    text-align: flex-start;
    padding: 20px;
    font-size: 25px;
  }
  p{
    width: 30%;
  }
  div{
    display: flex;
    justify-content: space-around;
    width: 30%;
  
    button:first-child{
      background: #dfdfdf;
    }
  }
  div button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 125px;
    background: #575d59;
    border-radius: 5px;
    
    a{
      color: #000000;
      text-decoration: none;
 
    }

  } 
 
}