.movieRow{
  margin-bottom: 30px;
  padding-left: 30px;

  h2{
    margin: 0px 0px 0px 30px;
  }

  .movieRow-listarea {
    overflow-x: hidden;
  }

  .movieRow-list{
    transition: 1s;
  }

  .movieRow-item{
    display: inline-block;
    width: 150px;

    img{
      width: 100%;
      transform: scale(0.9);
      transition: 0.4s;
      cursor: pointer;
    }
    img:hover{
      transform: scale(1);
    }

  }

}
.movieRow:hover{
  button{
    opacity: 1;
  }
}

  .firstButon {
    background: #00000069;
    position: absolute;
    z-index: 10;

    height: 250px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    
  }

  .leftButton{
    background: #00000069;
    position: absolute;
    z-index: 10;

    height: 250px;
    border: none;
    right: 0;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    
  }


 
